/* high level declarations */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial,  sans-serif;
    line-height: 1.5;
    /* background-color: var(--gray); */
}
/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    margin: 10px
}
/* main segment styling */
main {
    display: flex;
    justify-content: center;
}
/* user intro content styling */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
h1 {
    font-size: 3vh;
    margin: 10px 0;
}
.intro p {
    width: 50%;
    text-align: center;
    margin: 10px 0;
    font-size: 1.85vh;
}

.button {
    font-size: 1.95vh;
    color: white;
    background-color: purple;
    border: purple;
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
}

.button:hover{
    opacity: 75%;
}

/* quiz styling */
.quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quiz h2 {
    font-size: 30px;
    width: 60%;
}
.quiz-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    min-width: 50%;
}

.quiz button {
    margin:5px 0 ;
}
.feedback-holder {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 80%;
}
#feedback {
    color: rgba(24, 26, 25, 0.603);
    border-top: solid 3px;
    padding-top: 5px;
    padding-right: 20px;
}